<div class="container-fluid div-content-box no-border" id="div-section-header">

  <div class="form-row">
    <div class="form-group col-4">
      <label for="txtRequestType" class="col-form-label col-form-label-sm">ประเภทคำขอ</label>
      <input type="text" id="txtRequestType" class="form-control form-control-sm form-control-plaintext txt-center" readonly  value="{{RequestDocumentType | toNameOfRequestDocumentType }}" />
      <!--<small class="text-muted txt-warning">คำขอ : E-Internet</small>-->
    </div>
    <div class="form-group col-4">
      <label for="txtRequestNo" class="col-form-label col-form-label-sm">เลขที่คำขอ</label>
      <input type="text" id="txtRequestNo" class="form-control form-control-sm form-control-plaintext txt-center"  readonly [value]="DocumentNo" />
    </div>
    <div class="form-group col-4">
      <label for="txtRequestDate" class="col-form-label col-form-label-sm">วันที่คำขอ</label>
      <input type="text" id="txtRequestDate" class="form-control form-control-sm form-control-plaintext txt-center" readonly [value]="DocumentDate | toDateString" />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-4">
      <label for="txtRequestStatus" class="col-form-label col-form-label-sm">สถานะคำขอ</label>
      <input type="text" id="txtRequestStatus" class="form-control form-control-sm form-control-plaintext txt-center" readonly [value]="DocumentStatus" />
    </div>
    <div class="form-group col-4">
      <label for="txtRequestAcceptNo" class="col-form-label col-form-label-sm">เลขที่รับเรื่อง</label>
      <input type="text" id="txtRequestAcceptNo" class="form-control form-control-sm form-control-plaintext txt-center" readonly [value]="ReceiveNo" />
    </div>
    <div class="form-group col-4">
      <label for="txtRequestAcceptDate" class="col-form-label col-form-label-sm">วันที่รับเรื่อง</label>
      <input type="text" id="txtRequestAcceptDate" class="form-control form-control-sm form-control-plaintext txt-center" readonly [value]="ReceiveDate | toDateString" />
    </div>
  </div>

</div>
