  <!-- <cdss-waiting-dialog (ready)="initGeteringProcess($event)" title="Getering Information">

    <div [hidden]="!IsInformationLoading">
      <div [hidden]="!IsLoadServerConfig">
        Loading Server Information
        <div [hidden]="!HasError">
          {{ErrorMessage}}
        </div>
      </div>
      <div [hidden]="!IsLoadProfile">
        Loading Profile Information
        <div [hidden]="!HasError">
          {{ErrorMessage}}
        </div>
      </div>
      <div [hidden]="!IsLoadTraderInformation">
        Loading Trader Information
        <div [hidden]="!HasError">
          {{ErrorMessage}}
        </div>
      </div>
      <cdss-loading></cdss-loading>
    </div>
    <div [hidden]="IsInformationLoading">
      Information Loading Success.
    </div>

  </cdss-waiting-dialog> -->
