<div class="container-fluid div-content-box" id="div-destroy-armament-detail">
    <div class="div-content-box-header">
      <i class="fa fa-archive" aria-hidden="true"></i> รายละเอียดการทำลายยุทธภัณฑ์</div>
      <div class="div-content-box_suggestion is-warning">
        <!-- #message suggestion -->
      </div>
  
    <div class="form-row" style="display: none;">
  
      <div class="input-group col-12">
        <label for="txtAmamentType" class="col-form-label-sm">ชนิด</label>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <button class="input-group-text" (click)="clearCode('G')"><i class="fa fa-times" aria-hidden="true"></i></button>
          </div>
          <select class="form-control form-control-sm" id="txtAmamentType" [disabled]="!IsProductGroupReady" (change)="loadProductByGroup()" [(ngModel)]="Arm.ProductGroupID">
            <option value="0"> -- เลือกชนิดยุทธภัณฑ์ เพื่อกรองรายการของยุทธภัณฑ์ -- </option>
            <option *ngFor="let item of ProductGroups" [value]="item.ID">{{item.Name}}</option>
          </select>
          <div class="input-group-append">
            <button class="input-group-text" (click)="showSearchProductGroup()" [disabled]="!IsProductGroupReady" style="margin-right: 5px;"><i class="fa fa-search" aria-hidden="true"></i></button>
            <button class="btn btn-link" type="button" [hidden]="!IsProductGroupReady" (click)="refreshProductGroup()" style="width: 24px; padding: 0px;"><img src="assets/refresh-icon.png" style="width: 24px;" /></button>
            <span [hidden]="IsProductGroupReady"><img src="assets/field-loading.gif" /></span>
          </div>
        </div>
  
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-6 col-sm-12 col-md-4">
        <label for="txtAmamentDescription" class="col-form-label-sm">สาเหตุการทำลาย</label>
        <!-- <input type="text" class="form-control form-control-sm" id="txtAmamentDescription" placeholder="-" [readonly]="IsViewMode" [(ngModel)]="Arm.PRODUCT_DESCRIPTION"> -->
        <select class="form-control form-control-sm" id="txtAmamentName" [disabled]="!IsProductReady" (change)="changeArmament()" [(ngModel)]="Arm.PRODUCT_CODE">
          <option value=""> -- เลือกยุทธภัณฑ์ -- </option>
          <option *ngFor=" let item of ProductList " [value]="item.Code">{{item.Name}}</option>
        </select>
      </div>
      <div class="form-group col-6 col-sm-6 col-md-4">
        <label for="txtAmamentTariffCode" class="col-form-label-sm">จำนวนที่ทำลาย</label>
        <input type="text" class="form-control form-control-sm" id="txtAmamentTariffCode" placeholder="-"  [(ngModel)]="Arm.TARIFF_CODE">
      </div>
      <div class="form-group col-6 col-sm-6 col-md-4">
        <label for="txtAmamentStatisticalCode" class="col-form-label-sm">จำนวนคงเหลือ</label>
        <input type="text" maxlength="3" class="form-control form-control-sm" id="txtAmamentStatisticalCode" placeholder="-"  [(ngModel)]="Arm.STATISTICAL_CODE">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-6 col-sm-12 col-md-4">
        <label for="txtAmamentDescription" class="col-form-label-sm">วิธีการทำลาย</label>
        <!-- <input type="text" class="form-control form-control-sm" id="txtAmamentDescription" placeholder="-" [readonly]="IsViewMode" [(ngModel)]="Arm.PRODUCT_DESCRIPTION"> -->
        <select class="form-control form-control-sm" id="txtAmamentName" [disabled]="!IsProductReady" (change)="changeArmament()" [(ngModel)]="Arm.PRODUCT_CODE">
          <option value=""> -- วิธีการทำลาย -- </option>
          <option *ngFor=" let item of ProductList " [value]="item.Code">{{item.Name}}</option>
        </select>
      </div>
      <div class="form-group col-6 col-sm-6 col-md-4">
        <label for="txtAmamentTariffCode" class="col-form-label-sm">ห้วงเดือน</label>
        <input type="text" class="form-control form-control-sm" id="txtAmamentTariffCode" placeholder="-"  [(ngModel)]="Arm.TARIFF_CODE">
      </div>
      <div class="form-group col-6 col-sm-6 col-md-4">
        <label for="txtAmamentStatisticalCode" class="col-form-label-sm">สถานที่ทำลาย</label>
        <select class="form-control form-control-sm" id="txtAmamentName" [disabled]="!IsProductReady" (change)="changeArmament()" [(ngModel)]="Arm.PRODUCT_CODE">
          <option value=""> -- สถานที่ทำลาย -- </option>
          <option *ngFor=" let item of ProductList " [value]="item.Code">{{item.Name}}</option>
        </select>
      </div>
    </div>
  
    
  
    <div class="form-row">
      <div class="form-group col-12">
        <label for="txtAmamentName" class="col-form-label-sm">ระบุสถานที่ทำลาย กรณีเลือกทำลายที่อื่น</label>
        <!-- <input type="text" class="form-control form-control-sm" id="txtAmamentName" placeholder="-" readonly [value]="Arm.PRODUCT_NAME"> -->
        <input type="text" class="form-control form-control-sm" id="txtAmamentName"  [(ngModel)]="Arm.PRODUCT_NAME">
      </div>
    </div>
  
    
  
    
  
    
  
    
  
  
  </div>
  


  