<!-- <cdss-module-header>คำขอที่ร่างไว้</cdss-module-header>

<div class="cdss-commandbar is-right">
  <button class="btn btn-link" (click)="refreshData()" [disabled]="isLoading">refresh</button>
</div> -->
<cdss-module-header title="คำขอที่ร่างไว้" (on-refresh)="refreshData()" [is-loading]="isLoading"></cdss-module-header>

<table class="table table-striped table-fullwidth table-hover table-sm cdss-table">
  <thead>
    <tr>
      <th class="cdss-col-no">ลำดับ</th>
      <th></th>
      <th>ประเภทใบอนุญาต</th>
      <th>เลขที่รับเรื่อง</th>
      <th>วันที่รับเรื่อง</th>
      <th>ชื่อยุทธภัณฑ์</th>
      <th>จำนวน</th>
      <th>น้ำหนัก</th>
      <th>ช่องทางการยื่นคำขอ</th>
      <th>คำร้องโดย</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <tr *ngIf="isLoading">
      <td colspan="11" class="rowLoading"><cdss-loading></cdss-loading></td>
    </tr>

    <tr [hidden]="!noData">
      <td colspan="11" class="rowNoData">ไม่มีข้อมูล ...</td>
    </tr>

    <tr *ngFor="let item of Datasource; let idx = index" [attr.data-index]="idx" [class]="draftStatusCSS(item)">
      <!-- <td class="cdss-td-right">{{idx+1}}</td> -->
      <td class="cdss-td-right">{{(RowNo + idx)}}</td>
      <td>
        <button class="btn btn-sm btn-warning" (click)="actionCommandCopy(item)" title="copy คำขอ">
          <i class="fa fa-clipboard" aria-hidden="true"></i>
        </button>
      </td>
      <td [title]="item.id">{{item.request_type | toNameOfRequestDocumentType}}</td>
      <td class="cdss-td-right cdss-col-nowrap">{{item.recevie_no}}</td>
      <td class="cdss-td-center cdss-col-nowrap">{{item.receive_date | toDateString }}</td>
      <td class="cdss-td-content">{{item.detail}}</td>
      <td class="cdss-td-right">{{item.qty | toQTY }} {{item.qty_unit_name}}</td>
      <td class="cdss-td-right">{{item.weight | toQTY }} {{item.weight_unit_name}}</td>
      <td>{{item.is_online_request | toChannelName }}</td>
      <td class="cdss-td-record-log" [title]="item.create_date | toDateString:'DD/MM/YY HH:mm:SS'">
        <div>{{item.create_by}} ({{item.create_date | toDateString:"DD/MM/YY" }})</div>
      </td>
      <td class="cdss-td-center command-all">
        <!-- <button class="btn btn-sm btn-warning" (click)="actionCommandEdit(item)" [hidden]="hideCommandEdit">แก้ไข</button>
        <button class="btn btn-sm btn-danger" (click)="actionCommandDelete(item)" [hidden]="hideCommandDelete">ลบ</button> -->
        <button class="btn btn-sm btn-warning" (click)="actionCommandEdit(item)" [hidden]="hideCommandEdit">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </button>
        <button class="btn btn-sm btn-danger" (click)="actionCommandDelete(item)" [hidden]="hideCommandDelete">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </td>
    </tr>

  </tbody>
  <tfoot>
    <tr>
    <!-- <tr [hidden]="hideFooter"> -->
      <td colspan="10">
        {{footerData}}
      </td>
    </tr>
  </tfoot>
</table>

<!-- <cdss-datagrid-pagination (ready)="paging_ready($event)" tag="draft-list" [current-page]="PagingCurrentPage" [page-size]="5" (move-to)="movePage($event)"></cdss-datagrid-pagination> -->
<cdss-datagrid-pagination #pg></cdss-datagrid-pagination>

<!-- <cdss-confirm-dialog (ready)="initConfirmDelete($event)" tag="delete"> -->
<cdss-confirm-dialog #dialogDelete>
  <!-- คุณต้องการลบ Draft ???? -->
  {{deleteMessage}}
  <!-- {{MESSAGE_DELETE}} -->
</cdss-confirm-dialog>

<!-- <cdss-waiting-dialog #waitingDialog>
    <cdss-loading></cdss-loading>
</cdss-waiting-dialog> -->

<cdss-confirm-dialog #dialogConfirm>
  {{messageOfConfirm}}
</cdss-confirm-dialog>


<cdss-message-dialog [show-ok]="false" #dialogMessage>
  {{messageOfDialog}}
</cdss-message-dialog>
